@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title </h1>
    <h2>Wayne Enterprises</h2>
</hgroup>

<article>
    <p>
        NANANANANANANANA BATMAN!
    </p>

    <p>
        NANANANANANANANA BATMAN!
    </p>

    <p>
        NANANANANANANANA BATMAN!
    </p>
</article>

