@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        @*<span class="label">Main:</span>
        <span>425.555.0100</span>*@
        No need to call us.. We can hear everything you say!
    </p>
    @*<p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>*@
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:i.partheniou@acg.edu">i.partheniou@acg.edu</a></span>
    </p>
    <p>
        <span class="label">If you have a problem:</span>
        <span><a href="mailto:Houston@wegotaproblem.com">Houston@wegotaproblem.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Batcave<br />
        It is confidential..
    </p>
</section>